@model Tag

<form id="tag-form" asp-route="create">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" placeholder="Enter tag name" />
        <span id="name-validation" asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Create
    </button>
</form>
